@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Roboto&display=swap');

:root {
    --primary-color: #42535F;
    --secondary-color: #F1692F;
    --accent1-color: #F4A937;
    --accent2-color: #5E6E96;
    --accent3-color: #94CCC9;
    
    --heading-font: "Open Sans", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: #5E6E96;
    --nav-link-color: #94CCC9;
    --nav-hover-link-color: #F1692F;
    --nav-hover-background-color: #F4A937;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    /*background-color: var(--nav-background-color);*/
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

a:link {
    text-decoration: none;
}

.hero {
    position: relative;
    overflow: hidden
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    color: whitesmoke;
    z-index: 3;
    background-color: rgba(66, 83, 95, 0.5); /* Semi-transparent white background */
    padding: 10px 20px;
    text-align: center;
}

.title {
    position: absolute;
    top: 20%;
}
.hero article {
    position: absolute;
    background-color: rgba(66, 83, 95, 0.5);
    padding: 20px;
    top: 45%;
    left: 5%;
    right: 5%;
    width: 85%;
    color: whitesmoke;
    z-index: 2;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    display: block;
}

.hero article p {
    color: #fff;
}

footer {
    padding: 5px 5px;
    margin-top: 5px;
    align-items: center;   
}

.sociallinks {
    margin-top: 5px;
    display: flex;
    align-items: center;
}